@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome GET method";
}

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
   {
    <li>
        <p>
            @ViewData["Message"]
        </p>
    </li>
   }
</ul>

<ul>
    <li>
        Year: 
        @DateTime.Now.Year
    </li>
    <li>
        Month: 
        @DateTime.Now.Month
    </li>
    <li>
        Day: 
        @DateTime.Now.Day
    </li>
    <li>
        Hour: 
        @DateTime.Now.Hour
    </li>
    <li>
        Minte: 
        @DateTime.Now.Minute
    </li>
    <li>
        Last week this time: 
        @(DateTime.Now - TimeSpan.FromDays(7))
    </li>
</ul>

    <p>
    @Html.ActionLink("With this you go back to the same page", "Welcome","HelloWorld")
    </p>

    <p>
    <a asp-controller="HelloWorld" asp-action="Welcome" asp-route-id="4" asp-route-name="David Siltroy" asp-route-numtimes="3" >Another Option</a>
    </p>

    <p>
    <a href="/HelloWorld/Welcome/4?name=David%20Silva&numtimes=3">This is just html</a>
    </p>


